<div class="banner">
  
  <div class="top-section container">
    <div class="row">
      <div class="float-left col-6 float-left top-text">
        THEMOVIEBOX
      </div>
      <div class="float-right col-6">
        <button type="button" class="btn btn-primary float-right">SIGN UP</button>
        <button type="button" class="btn btn-light float-right">LOGIN</button>
        <button type="button" class="btn btn-search float-right">
          <span class="search"></span>
        </button>
      </div>
    </div>

    <div class="row-bottom">
      <div class="row-detail title">
        WRATH OF THE TITAN
      </div>
      <div class="row-detail info">
        <span>Fantasy</span>
        <span>Animation</span>
        <span>Family</span>
        <span>|</span>
        <span>Duration: 1h 52m</span>
      </div>
      <div class="row-detail row">
        <div class="col-6 float-left">
          <button type="button" class="btn btn-primary">WATCH MOVIE</button>
          <button type="button" class="btn btn-light-wrap">VIEW INFO</button>
          <button type="button" class="btn btn-light">+ ADD TO WISHLIST</button>
        </div>
        <div class="col-6">
          <div class="box">
            <div class="row">
              <span class="font-weight-bold">Rating &nbsp;</span>
              <span>based on 3 546 views</span>
            </div>
            <div class="row">
              <div class="star star-full" ></div>
              <div class="star star-full" ></div>
              <div class="star star-full" ></div>
              <div class="star star-half" ></div>
              <div class="star star-less" ></div>
              <div class="star" >3.4</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <carousel></carousel>
  
</div>



<router-outlet></router-outlet>